
@{
    ViewBag.Title = "HowItWork";
}

<h3>Как это работает?</h3>

<table class="howItWork">
    <tr>
        <td>
            <span class="text">
                Работа анализатора построена на истории изменений статей.
                <br />
                После того как пользователь ввел ссылку на статью Википедии ссылка проходит проверку.

            </span>
        </td>
        <td>
            <div class="image img-left">
                <img src="~/Content/Images/1.JPG" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="image img-right">
                <img src="~/Content/Images/2.JPG" />
            </div>
        </td>
        <td>
            <div class="text">
                После успешного прохождения проверки система "переходит" на страницу истории изменения статьи.
                <br />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="text">
                Эта страница проходит процесс извлечение необходимых данных для анализа качества.
            </div>
        </td>
        <td>
            <div class="image">
                <img src="~/Content/Images/3.JPG" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="image">
                <img src="~/Content/Images/4.JPG" />
            </div>
        </td>
        <td>
            <div class="text">
                Система анализирует количество проверенных изменений.
                <br />
                Также запись о проверки "достает" заголовок статьи для удобсва восприятия.
                <br />
                Добавляется запись о проверке и ее результат.
            </div>
        </td>
    </tr>
</table>

<span class="text">
    <br />
    <br />

    <br />

</span>
